.chartWrapper {
  display: flex;
  width: 995px;
  height: 400px;
  padding: 40px;
  flex-shrink: 0;
  border-radius: 27px;
  background: rgba(255, 0, 245, 0.05);
  font-size: 20px;
}

.chartAmount {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 26px;
}

.chartGraph {
  display: flex;
  align-items: flex-end;
  margin-left: 32px;
}

.chartStripes {
  display: flex;
  gap: 11px;
}

.chartDays {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 17px;
}

.stripe {
  background-color: #000aff;
  height: 1px;
  width: 16px;
}

.stripeHalfYear {
  height: 1px;
  width: 16px;
  margin-bottom: 14px;
  margin-left: 18px;
  background-color: #000aff;
}

.stripeYear {
  height: 1px;
  width: 16px;
  margin-bottom: 14px;
  margin-left: 18px;
  background-color: #000aff;
}

.stripeYearActive {
  width: 16px;
  height: 220px;
  margin-bottom: 14px;
  margin-left: 11px;
  background-color: #000aff;
  border-radius: 5px;
}

.dates {
  display: flex;
  gap: 111px;
}

.datesYear {
  display: flex;
  gap: 27px;
}
