.selectWrapper {
  width: 500px;
}

.customSelect select {
  display: none;
}

.customSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 20px 9px 20px;
  border-radius: 28px;
  border: 2px solid #000aff;
  font-size: 24px;
  line-height: 125%;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

.customSelect:hover {
  color: #000aff;
}

.selectSelected:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 12px;
  top: 12px;
  right: 13px;
  border: 6px solid transparent;
}

.selectSelected .selectArrowActive::after {
  top: 14px;
  transform: scaleY(-1);
}

.selectItems div {
  margin-bottom: 16px;
}

.selectItems {
  display: flex;
  flex-direction: column;
  padding: 16px 0 0 20px;
  border: 2px solid #000aff;
  border-radius: 28px;
  font-size: 24px;
  font-weight: 400;
  line-height: 125%;
  cursor: pointer;
}

.selectItems span {
  transition: 0.3s;
}

.selectItems span:hover {
  color: #000aff;
}

.arrow {
  transition: 0.3s;
}

.arrowOpened {
  transform: scaleY(-1);
}
